.history/
backend/target/
/.idea/
/.vscode/
/logs/
/.playwright-mcp/
/.mimocode/node_modules
auto-test/backend/local-repo/
**/target/
node_modules/
.reasonix/
/*.png
fix-codex-web-search.sh
**/dist/
**/node_modules/
*.pem

*.crx

.workbuddy/

.mimocode/.cron-lock
