<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.autotest.mapper.SysUserSsoMapper">

    <resultMap id="BaseResultMap" type="com.autotest.model.entity.SysUserSso">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="sso_provider" property="ssoProvider"/>
        <result column="sso_subject" property="ssoSubject"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO sys_user_sso (user_id, sso_provider, sso_subject)
        VALUES (#{userId}, #{ssoProvider}, #{ssoSubject})
    </insert>

    <select id="selectBySubject" resultMap="BaseResultMap">
        SELECT * FROM sys_user_sso
        WHERE sso_provider = #{ssoProvider} AND sso_subject = #{ssoSubject}
    </select>

    <delete id="deleteByUserId">
        DELETE FROM sys_user_sso WHERE user_id = #{userId}
    </delete>
</mapper>
